.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      button(type='button', class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') NodeBoilerplate
      .nav-collapse.collapse
        ul.nav
          li.active
            a(href='/') Home
          li
            a(href='/') About
