doctype 5
html
  include ../includes/head
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    include ../includes/topNav
    block main
    .messages
      include ../includes/messages
    block content
    include ../includes/footer
    include ../includes/foot
